@import '../../../index.scss';

.wrap{
    max-width: 400px;
    display: flex;
    align-items: baseline;
    @media  (max-width: $medium){
       max-width: 350px;
    }
    @media  (max-width: $small){
        max-width: 300px;
     }

    @media (max-width: $large){
        margin-top: 20px;
    }
    @media (max-width: $extra-small){
        max-width: 280px;

    }

    .index{
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        color: $color_text;
        @media  (max-width: $medium){
            font-size: 22px;
        }
    }

    .textWrap{
        margin-left: 25px;
        .headTitle{
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            color: $color_title_dark;
            @media  (max-width: $small){
                font-size: 28px;
            }
        }

        .text{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: $color_text;
            @media  (max-width: $medium){
                font-size: 14px;
            }

        }
    }
}
