@import '../../../index.scss';
.testimonials{
    margin-top: 150px;
    @media  (max-width: $small){
        margin-top: 100px;
    }

    .cardsWrap{
        display: flex;
        justify-content: center;
        align-items: center;
        @media  (max-width: $small){
            flex-direction: column;
         }

        div{
            margin-left: 25px;
            @media  (max-width: $medium){
                margin-left: 15px;
            }
            @media  (max-width: $small){
                margin-left: 0;
             }
        }
    }

    .iconWrap{
        position: relative;
        .navTitle{
            font-size: 14px;
            font-weight: 600;
            transform: rotate(-90deg);
            position: absolute;
            top: -70px;
            left: -30px;
            text-transform: uppercase;
            color: $color_title_light;
            opacity: 0.6;
            @media  (max-width: $small){
                font-size: 12px;
                left: -25px;
            }

        }
        @media  (max-width: $medium){
            margin-left: 20px;
         }
    }
}