@import '../../../index.scss';

.hotels{
    margin-top: 150px;
    @media  (max-width: $extra-small){
        margin-top: 100px;
    }

    .cardsWrap{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media  (max-width: $medium){
            justify-content: space-around;
            flex-direction: column;
        }
    }
}