@import '../../../index.scss';

.hotels{
    margin-top: 150px;

    .cardsWrap{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}