@import '../../../index.scss';


.header{
    padding-top: 35px;

    .headerWrap{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logoWrap{
            max-width: 155px;
            @media  (max-width: $medium){
                max-width: 130px;
            }
            img{
                width: 100%;
            }
        }

        @media  (max-width: $medium){
            justify-content: space-around;
            flex-direction: column;
        }

    }

}


