@import '../../../index.scss';

.intro{
    margin-top: 150px;
    @media  (max-width: $small){
        margin-top: 100px;
    }


    .title{
        font-weight: 700;
        color: $color_title_light;
        font-size: 180px;
        text-align: center;
        @media  (max-width: $medium){
            font-size: 110px;
        }
        @media  (max-width: $small){
            font-size: 90px;
        }
        @media  (max-width: $extra-small){
           font-size: 80px;
        }

    }

    .descr{
        font-weight: 500;
        font-size: 30px;
        color: $color_title_light;
        opacity: 0.7;
        letter-spacing: 10px;
        text-align: center;
        text-transform: uppercase;
        @media  (max-width: $small){
            font-size: 25px;
        }
        @media  (max-width: $extra-small){
            font-size: 20px;
         }
    }
}
